{% extends 'layout.html' %}
{% block body %}
  <div>
    <h1>자기소개</h1>
    <ul class="introduction">
      <li>초보 개발자 sdalbsoo입니다.</li>
      <li>동물 중에 수달을 닮아 s(oo)dal을 따 sdalbsoo로 닉네임을 만들었습니다.</li>
      <br>
      <li>개발 공부를 하면서 개념을 정리할 겸, 생각을 정리할 겸 일주일에 한 개씩 글을 쓰고 있습니다.
        아래에 있는 링크를 클릭하면 제 글을 보실 수 있습니다.</li>
      <p><a href="https://sdalbsoo.github.io">sdalbsoo's dev life</a></p>
    </ul>
    <h1>Cheese를 만든 계기</h1>
    <ul class="cheese-purpose">
      <li>외국 드라마(왕좌의 게임, 워킹데드 등등)을 가지고 영어 공부를 하시는 분들이 많습니다. 저 또한 마찬가지구요. 드라마를 보다 모르는 단어가 나오면
      단어장에 정리를 하기도 합니다. 이렇게 단어장을 정리하다 보니 문득 이 영어 자막을 가지고 단어장을 만들면 편리하겠다는 생각이 들어 만들게 되었습니다.</li>
    </ul>
  </div>
{% endblock %}
